.info{
    
    margin-top: 70px;
       
    padding: 50px;
}

.info-head{
    text-align: center;
}

.info-head h2{
    padding-bottom: 30px;
    color: rgb(24, 54, 80);
    font-size: 2.9rem;
    font-weight: 750;
}

.info-head p{
    font-size: 1.1rem;
    color: rgb(121, 121, 121);
}

.form{
    text-align: center;
    padding-top: 100px;
}

.info-row{
   
    flex-direction: row;
    align-items: center;
}

.info-email{margin-right: 15px;
    margin-bottom: 20px;
    padding-right: 50px;
    width: 500px;
    height: 40px;
    border-radius: 15px;
    box-shadow:         3px 3px 5px 6px #ccc;
    border:0px;
}

.info-button{
    font-size: 14px;
    color: white;
    background-color: rgb(248, 107, 55);
    padding: 9px 40px;
    text-align: center;
    border-radius: 25px;
    margin-bottom: 20px;

}

.info-button:hover{
    background-color: rgb(197, 78, 35);
}