*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}



.heading{
    width: 100%;

}

nav{
    width: 100%;
    height: 100px;
    display: flex;
}

.brand{
    width: 30%;
    height: 100px;
}

.brand h1{
    line-height: 100px;
    padding-left: 150px;
    color: rgb(20, 20, 20);
}
.menu{
    width: 55%;
    height: 100px;
    display: flex;
    align-items: center;
}

.menu ul{
    width: 100%;
    height:  100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
}

.menu ul li {
    list-style:none;
    font-size: 15px;
    font-weight: lighter;
    
    
}

a{

    color: rgb(96, 129, 163);
    text-decoration: none;
}
a:hover{
    color: rgb(165, 165, 165);
   
    transition: 0.5s;
}

.menu button{
    font-size: 14px;
    color: white;
    background-color: rgb(252, 145, 106);
    padding: 5px 30px;
    text-align: center;
    border-radius: 25px;

    
}

.menu button:hover{
    color: white;
    background-color: rgb(255, 103, 47);
    transition: 0.8s;
}


.up{display: flex;}

.top-left{
    width: 45%;
    height: autp;
    padding-left: 110px;
    margin-top: 30px;
}

.top-left img{
    width: 500px;
    height: 550px;
}

.top-right{
    width: 40%;
    height: 500px;
    text-align: center;
    margin-top: 110px;
    padding: 40px;

}

.top-right h1{
    font-size: 45px;
    
    
    color: rgb(51, 75, 97);

}
.top-right p{
    font-size: 1.1rem;
    padding: 30px;
}

.top-right button{
    font-size: 17px;
    color: white;
    background-color: rgb(255, 131, 86);
    padding: 15px 32px;
    text-align: center;
    border-radius: 25px;
    
}

.top-right button:hover{
    color: white;
    background-color: rgb(253, 89, 30);
    transition: 0.8s;
}

.ads{
    border-width: 10px;
    display: flex;
    height: 40px;
    width: auto;
    flex-direction: row;
    margin-left: 80px;
    margin-top: -80px;
    padding: 5px 30px;
    padding-right: 100px;
    justify-content: space-between;
    
    
}



    
